body{
    font-size: 30pt;
    margin-top: 0px;
    text-align: center;
    border-bottom: 2px solid black;
}

.ersa{
    color: skyblue;
    text-align: center;
    font-size: 25px;
}

#ersa1{
    color: skyblue;
    text-align: center;
    font-size: 25px;
}